<%- include('../components/navbar') %>



<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
        <div class="card">
            <div class="card-header">
                <h4>
                    PROFILE
                </h4>


<%- include('../components/footer') %>